<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <!--Esta div vai ser onde vai ficar todo nosso principal conteudo-->
        <div class="col-lg-8 my-3">
            
            <form action=""></form>

        </div>


        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>