<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <!--Esta div vai ser onde vai ficar todo nosso principal conteudo-->
        <div class="col-lg-8 my-3">
            
            <h1 class="my-5">Projeto Introdutor</h1>

            <p>Este site tem o objetivo de exibir meu portfólio profissional e 
                também exibir alguns projetos que fiz durante minha jornada de estudos.</p>

            <h2 class="my-4">Introdução</h2>

            <p class="introduction">Meu nome é Erick Bonfati, tenho 19 anos e trabalho como Auxiliar de T.I, sou um estudante de programação desde o começo
                de 2023, em 2022 eu atuava como menor aprendiz mas ainda não tinha nenhum objetivo sobre qual área gostaria de ingressar,
                para mim, contanto que fosse relacionado a técnologia já estava ótimo, mas como todos sabem, a area da técnologia abrange
                varias profissões, como um assistente de T.I, Programador, Analista de sistemas, Diretor de T.I...
                Então como eram várias opções nunca tive certeza do que eu gostaria de fazer, isso até eu realizar meu primeiro curso
                relacionado a técnologia, que era um curso do básico ao avançado em SQL Server, e foi ai que eu decidi com o que eu gostaria
                de trabalhar no futuro, depois de finalizar o curso de SQL eu comecei a estudar lógica de programação, e de lá em diante eu não
                parei mais, ingressei na faculdade que estou hoje, Analise e Desenvolvimento de Sistemas, e também estou realizando alguns cursos
                pela Udemy relacionados a programação, metodologias agéis(SCRUM) e inglês...
            </p>

            <h2 class="my-4">Projetos</h2>

            <p>Abaixo estou listando alguns projetos que já fiz com todo conhecimento que já adquiri com cursos e faculdade:</p>

            <a href="#" class="link-projects">Agenda de contatos</a> <br>

            <a href="#" class="link-projects">Gerador de senhas</a> <br>

            <a href="#" class="link-projects">Gerador de Cpf's válidos</a> <br>

            <a href="#" class="link-projects">Validador de Cpf's</a> <br>

            <a href="#" class="link-projects">Lista de Compras</a>


        </div>


        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>